.row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.titleBlock {
  position: relative;
}

.title {
  font-size: 10vw;
}

.date {
  color: #ce3e49;
  font-size: 26px;
  text-align: center;
}

.person {
  width: calc(40% - 4px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: relative;
}

.image {
  width: 100%;
}

.name {
  font-size: 24px;
}

.heartOne,
.heartTwo {
  --size: 10px;
  position: absolute;
  height: var(--size);
  width: var(--size);
  top: 0;
}

.heartOne {
  left: -10px;
  transform: rotate(-45deg);
}

.heartTwo {
  right: -10px;
  transform: rotate(45deg);
}

.phrase {
  position: absolute;
  text-align: center;
}

.sasha .phrase {
  color: #ce3e49;
  right: -15px;
  top: -16px;
  z-index: 3;
}

.speech {
  position: absolute;
  z-index: 2;
}

.sasha .speech {
  width: 100px;
  right: -25px;
  top: -80px;

  --speech-fill: #fff;
  --border-fill: #ce3e49
}

.ilona .speech {
  width: 60px;
  left: -10px;
  top: -40px;
  transform: scaleX(-1);
  --speech-fill: #ce3e49;
  --border-fill: #fff;
}

.ilona .phrase {
  color: #fff;
  left: 5px;
  top: 30px;
  z-index: 3;
}
