.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.button {
  background-color: #ce3e49;
  border-radius: 6px;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
