.wrapper {
  align-items: center;
  border-bottom: 2px dashed #ce3e49;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 24px;
}

.text {
    text-align: center;
}

.heart {
    width: 20px;
    height: 20px;
}
